body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}


h2 {
    color: black;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #901CAD;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

  .modal-body {
    background: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  }

  .modal-header {
      font-family: "Lobster", cursive;
      color: #5637DD;
  }

  .closeButton {
      background-color: #5637DD;
      color: white;
  }

  .card{
      border: dotted #901CAD;
      border-radius: 40px 0px 40px 0px;
      overflow: hidden;
  }
  .card-header {
    background:linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    font-family: "Lobster",cursive;
  }

  .card-body {
background: white;
color: #5637DD;

  }
  tr {
    background:linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
  }

  .collapse {
      font-family: "Lobster", cursive;
      text-decoration: none;
  }

  .btn-link, .btn-link:hover {
      text-decoration: none;
      color: white;
      font-size: 20px;
  }

  .feedback {
    background:linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    padding: 30px;
  }

  .submit {
      background-color: white;
      color: #5637DD;
      font-family: "Lobster", cursive;
      font-size: 20px;
  }

  .address {
    background:linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
    padding: 30px;
  }